## <ins style="color:green">**Scikit-Learn Pipelines**</ins>
- Pipelines chains together multiple steps so that the output of each step is used as input to the next step.
- Pipelines makes it easy to apply the same preprocessing to train and test!
- **Step1** ---->_output_---->input-----> **step2** ---->_output_---->input-----> **step3**

### <ins style="color:red">**Project Without Using Pipeline**</ins>

In [1]:
import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer # to fill null values with mean
from sklearn.preprocessing import OneHotEncoder # encode nominal value columns
from sklearn.preprocessing import MinMaxScaler # normalize
from sklearn.tree import DecisionTreeClassifier # prediction algorithm

In [2]:
df = pd.read_csv("../data/train.csv")
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [3]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [4]:
df.drop(columns=['PassengerId', 'Name', 'Ticket', 'Cabin'], inplace=True)
df.head()

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0         0       3    male  22.0      1      0   7.2500        S
1         1       1  female  38.0      1      0  71.2833        C
2         1       3  female  26.0      0      0   7.9250        S
3         1       1  female  35.0      1      0  53.1000        S
4         0       3    male  35.0      0      0   8.0500        S

In [5]:
df.isnull().sum()

Survived      0
Pclass        0
Sex           0
Age         177
SibSp         0
Parch         0
Fare          0
Embarked      2
dtype: int64

In [6]:
si_age = SimpleImputer()
si_embarked = SimpleImputer(strategy='most_frequent')

df_age = si_age.fit_transform(df[['Age']])
df_embarked = si_embarked.fit_transform(df[['Embarked']])
df_embarked.shape, df_age.shape

((891, 1), (891, 1))

In [7]:
## OneHotEncoder sex and embarked
ohe_sex = OneHotEncoder(sparse=False, handle_unknown='ignore')
ohe_embarked = OneHotEncoder(sparse=False, handle_unknown='ignore')

df_sex = ohe_sex.fit_transform(df[['Sex']])
df_embarked = ohe_embarked.fit_transform(df_embarked)
df_embarked.shape

/home/arjun/anaconda3/envs/Project_01/lib/python3.9/site-packages/sklearn/preprocessing/_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
/home/arjun/anaconda3/envs/Project_01/lib/python3.9/site-packages/sklearn/preprocessing/_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

(891, 3)

In [8]:
df_sex.shape, type(df_sex)

((891, 2), numpy.ndarray)

In [9]:
df_sex[0]

array([0., 1.])

In [10]:
df_embarked.shape, type(df_embarked)

((891, 3), numpy.ndarray)

In [11]:
df_rem = df.drop(columns=['Sex', 'Age', 'Embarked'])
df_rem.shape, type(df_rem)

((891, 5), pandas.core.frame.DataFrame)

In [12]:
df_rem.head(4)

   Survived  Pclass  SibSp  Parch     Fare
0         0       3      1      0   7.2500
1         1       1      1      0  71.2833
2         1       3      0      0   7.9250
3         1       1      1      0  53.1000

In [13]:
dfn = np.concatenate((df_rem, df_age, df_sex, df_embarked), axis=1)
dfn[1]

array([ 1.    ,  1.    ,  1.    ,  0.    , 71.2833, 38.    ,  1.    ,
        0.    ,  1.    ,  0.    ,  0.    ])

In [14]:
dfn = pd.DataFrame(dfn, columns=['Survived', 'Pclass', 'SibSp', 'Parch', 'Fare', 'Age', 'Female', 'Male', 'C', 'Q', 'S'])

In [15]:
dfn = np.round(dfn, 2)
dfn.sample(4)

     Survived  Pclass  SibSp  Parch   Fare   Age  Female  Male    C    Q    S
593       0.0     3.0    0.0    2.0   7.75  29.7     1.0   0.0  0.0  1.0  0.0
154       0.0     3.0    0.0    0.0   7.31  29.7     0.0   1.0  0.0  0.0  1.0
638       0.0     3.0    0.0    5.0  39.69  41.0     1.0   0.0  0.0  0.0  1.0
789       0.0     1.0    0.0    0.0  79.20  46.0     0.0   1.0  1.0  0.0  0.0

In [16]:
X = dfn.iloc[:, 1:]
Y = dfn.iloc[:, [0]]

In [17]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.2, random_state=48)
X_train.shape, X_test.shape

((712, 10), (179, 10))

In [18]:
clf = DecisionTreeClassifier()
clf.fit(X_train, y_train)

DecisionTreeClassifier()

In [19]:
y_pred = clf.predict(X_test)
y_pred

array([0., 0., 0., 0., 1., 1., 0., 0., 0., 0., 1., 1., 0., 0., 0., 0., 1.,
       0., 0., 1., 0., 1., 0., 0., 0., 1., 0., 0., 0., 0., 1., 0., 0., 0.,
       0., 0., 0., 1., 1., 1., 1., 0., 0., 1., 1., 0., 0., 1., 1., 0., 0.,
       1., 1., 0., 1., 0., 0., 1., 0., 0., 1., 0., 1., 0., 0., 0., 0., 0.,
       1., 1., 0., 1., 0., 0., 0., 1., 0., 0., 0., 1., 0., 0., 1., 0., 1.,
       1., 1., 1., 0., 0., 0., 1., 1., 0., 0., 0., 1., 1., 0., 0., 1., 0.,
       1., 0., 1., 0., 0., 0., 0., 0., 0., 1., 1., 0., 0., 1., 0., 0., 1.,
       0., 1., 1., 0., 0., 0., 1., 1., 0., 1., 0., 0., 1., 0., 0., 1., 0.,
       0., 1., 1., 0., 1., 1., 1., 0., 0., 1., 0., 0., 0., 1., 0., 1., 0.,
       0., 0., 0., 0., 0., 1., 1., 1., 1., 1., 0., 0., 1., 0., 0., 0., 1.,
       0., 1., 1., 0., 1., 0., 0., 0., 1.])

In [20]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_pred)*100

71.50837988826815

In [21]:
import pickle

In [22]:
pickle.dump(ohe_sex, open('../models/ohe_sex.pkl', 'wb'))
pickle.dump(ohe_embarked, open('../models/ohe_embarked.pkl', 'wb'))
pickle.dump(clf, open('../models/clf.pkl', 'wb'))