## **<ins style="color:green">Categorical Encoding</ins>**
- **Data :**
  - **Numerical Data**
    - Number like _Age_, _Salary_, _Height_, _Weight_, etc.
  - **Categorical Data**
    - Category like _Gender_, _Country_, etc.
    - __Types of Categorical Data :-__
        1. **Nominal** : `OneHotEncoding`
          - Name of state : UP, Maharastra, Bihar, Gujrat
            - We can not say that ___UP > Maharastra___ or ___Bihar < Gujrat___
          - Branch of Engineering : CSE, ME, ECE, CE, EE
            - We can not say that CSE < ECE or ME > CE
          - It will make different column for each attributes and fill that column with 1 and rest column with 0.
        2. **Ordinal** : `OrdinalEncoding`
          - Divisin : First, Second, Third
            - We can say that ___First > Second___ and ___Second > Third___
          - Name of degree : B.Tech. M.Tech.
            - We can say that ___B.tech < M.Tech.___
          - We have to specify befor use the OrdinalEncoding. Specigy that First=1, Second=2, third=3 or B.Tech=0 and M.Tech=1.
- **LabelEncoding**
  - If __Attributes__ has __Categorical Data__ then use `OneHotEncoding` or `OrdinalEncoding`. But if __Label__ or __Class__ have __Categorical Data__ then use `LabelEncoding`.

## <ins style="color:red">**Column Transformer**</ins>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from ydata_profiling import ProfileReport

In [2]:
df = pd.read_csv("../data/covid_toy.csv")
df.sample(5)

    age  gender  fever   cough       city has_covid
85   16  Female  103.0    Mild  Bangalore       Yes
69   73  Female  103.0    Mild      Delhi        No
22   71  Female   98.0  Strong    Kolkata       Yes
6    14    Male  101.0  Strong  Bangalore        No
84   69  Female   98.0  Strong     Mumbai        No

In [3]:
prof = ProfileReport(df)
prof.to_file(output_file="covid_toy.html")

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

In [4]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder

In [5]:
df.sample(5)

    age  gender  fever   cough       city has_covid
19   42  Female    NaN  Strong  Bangalore       Yes
62   56  Female  104.0  Strong  Bangalore       Yes
92   82  Female  102.0  Strong    Kolkata        No
75    5    Male  102.0    Mild    Kolkata       Yes
11   65  Female   98.0    Mild     Mumbai       Yes

In [6]:
df.nunique()

age          55
gender        2
fever         7
cough         2
city          4
has_covid     2
dtype: int64

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        100 non-null    int64
 1   gender     100 non-null    object
 2   fever      90 non-null     float64
 3   cough      100 non-null    object
 4   city       100 non-null    object
 5   has_covid  100 non-null    object
dtypes: float64(1), int64(1), object(4)
memory usage: 4.8+ KB

In [8]:
df.columns

Index(['age', 'gender', 'fever', 'cough', 'city', 'has_covid'], dtype='object')

In [9]:
df.gender.value_counts()

Female    59
Male      41
Name: gender, dtype: int64

In [10]:
df.cough.value_counts()

Mild      62
Strong    38
Name: cough, dtype: int64

In [11]:
df.city.value_counts()

Kolkata      32
Bangalore    30
Delhi        22
Mumbai       16
Name: city, dtype: int64

In [12]:
df.has_covid.value_counts()

No     55
Yes    45
Name: has_covid, dtype: int64

In [13]:
# gender and city are nominal columns : OneHotEncoder
# cough is a ordinal column : OrdinalEncoder
# has_covid is a Label column : LabelEncoder
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [14]:
X = df.iloc[:, :-1]
Y = df.iloc[:, [-1]]

### <ins style="color:blue">**1. Aam Zindagi**</ins> : Do not use Column Transformation

In [15]:
# adding simple imputer to fever col
si = SimpleImputer() # replace all NAN with mean of data
X_fever = si.fit_transform(X[['fever']])
X_fever.shape

(100, 1)

In [16]:
# OrdinalEncoder -> cough
oe = OrdinalEncoder(categories=[["Mild", "Strong"]])
X_cough = oe.fit_transform(X[['cough']])
X_cough.shape

(100, 1)

In [17]:
# OneHotEncoder -> gender
ohe = OneHotEncoder(drop='first', dtype=np.int32)
# OneHotEncoder with train dataset
X_gender_city = ohe.fit_transform(X[['gender', 'city']]).toarray()
X_gender_city

array([[1, 0, 1, 0],
       [1, 1, 0, 0],
       [1, 1, 0, 0],
       [0, 0, 1, 0],
       [0, 0, 0, 1],
       [0, 0, 0, 0],
       [1, 0, 0, 0],
       [0, 0, 0, 1],
       [0, 0, 0, 0],
       [0, 1, 0, 0],
       [0, 1, 0, 0],
       [0, 0, 0, 1],
       [0, 0, 1, 0],
       [1, 0, 0, 0],
       [1, 0, 0, 0],
       [1, 0, 1, 0],
       [0, 0, 1, 0],
       [0, 1, 0, 0],
       [0, 0, 0, 0],
       [0, 0, 0, 0],
       [1, 0, 0, 0],
       [1, 0, 0, 0],
       [0, 0, 1, 0],
       [0, 1, 0, 0],
       [0, 0, 1, 0],
       [1, 0, 0, 1],
       [0, 0, 1, 0],
       [0, 1, 0, 0],
       [1, 0, 1, 0],
       [0, 0, 0, 1],
       [1, 1, 0, 0],
       [1, 0, 1, 0],
       [0, 1, 0, 0],
       [0, 0, 1, 0],
       [1, 0, 0, 1],
       [0, 0, 0, 0],
       [0, 0, 0, 0],
       [1, 0, 1, 0],
       [0, 1, 0, 0],
       [0, 0, 1, 0],
       [0, 1, 0, 0],
       [1, 0, 1, 0],
       [1, 1, 0, 0],
       [0, 0, 0, 0],
       [1, 1, 0, 0],
       [1, 0, 0, 0],
       [0, 0, 0, 1],
       [0, 0, 0, 0],
       [1, 0, 0, 0],
       [1, 0, 0, 1],
       [1, 1, 0, 0],
       [0, 0, 1, 0],
       [0, 0, 0, 0],
       [1, 1, 0, 0],
       [0, 0, 0, 1],
       [0, 0, 0, 1],
       [1, 0, 1, 0],
       [0, 0, 0, 0],
       [1, 0, 0, 1],
       [0, 0, 1, 0],
       [0, 0, 0, 0],
       [0, 0, 0, 1],
       [0, 0, 0, 0],
       [1, 0, 0, 0],
       [1, 0, 0, 1],
       [0, 0, 0, 0],
       [1, 0, 1, 0],
       [1, 0, 0, 0],
       [0, 0, 1, 0],
       [0, 1, 0, 0],
       [0, 1, 0, 0],
       [0, 1, 0, 0],
       [0, 0, 1, 0],
       [1, 0, 1, 0],
       [0, 1, 0, 0],
       [1, 0, 1, 0],
       [1, 0, 0, 0],
       [0, 0, 1, 0],
       [1, 0, 0, 0],
       [0, 0, 1, 0],
       [0, 0, 0, 1],
       [1, 1, 0, 0],
       [1, 0, 1, 0],
       [0, 0, 1, 0],
       [0, 0, 0, 1],
       [0, 0, 0, 0],
       [1, 0, 0, 0],
       [1, 0, 0, 0],
       [0, 0, 1, 0],
       [1, 0, 0, 0],
       [0, 1, 0, 0],
       [1, 1, 0, 0],
       [0, 0, 1, 0],
       [1, 0, 1, 0],
       [1, 0, 1, 0],
       [0, 0, 0, 0],
       [0, 0, 1, 0],
       [0, 0, 0, 0],
       [0, 0, 0, 1],
       [0, 0, 1, 0]], dtype=int32)

In [18]:
# Extract age
X_age = X.drop(columns=['gender', 'fever', 'cough', 'city']).values
# .values : convert a data_frame to array
X_age.shape

(100, 1)

In [19]:
X_transform = np.concatenate((X_age, X_fever, X_gender_city, X_cough), axis=1)
X_transform.shape

(100, 7)

In [20]:
X_ = pd.DataFrame(X_transform, columns=['age', 'fever', 'gender', 'Delhi', 'Kolkata', 'Mumbai', 'cough'])
X_

     age  fever  gender  Delhi  Kolkata  Mumbai  cough
0   60.0  103.0     1.0    0.0      1.0     0.0    0.0
1   27.0  100.0     1.0    1.0      0.0     0.0    0.0
2   42.0  101.0     1.0    1.0      0.0     0.0    0.0
3   31.0   98.0     0.0    0.0      1.0     0.0    0.0
4   65.0  101.0     0.0    0.0      0.0     1.0    0.0
..   ...    ...     ...    ...      ...     ...    ...
95  12.0  104.0     0.0    0.0      0.0     0.0    0.0
96  51.0  101.0     0.0    0.0      1.0     0.0    1.0
97  20.0  101.0     0.0    0.0      0.0     0.0    0.0
98   5.0   98.0     0.0    0.0      0.0     1.0    1.0
99  10.0   98.0     0.0    0.0      1.0     0.0    1.0

[100 rows x 7 columns]

In [21]:
from sklearn.model_selection import train_test_split

In [22]:
X_train, X_test, y_train, y_test = train_test_split(X_, Y, test_size=0.2, random_state=8)
X_train

     age       fever  gender  Delhi  Kolkata  Mumbai  cough
57  49.0   99.000000     0.0    0.0      0.0     0.0    1.0
64  42.0  104.000000     1.0    0.0      0.0     1.0    0.0
80  14.0   99.000000     0.0    0.0      0.0     1.0    0.0
24  13.0  100.000000     0.0    0.0      1.0     0.0    1.0
70  68.0  101.000000     0.0    1.0      0.0     0.0    1.0
..   ...         ...     ...    ...      ...     ...    ...
8   19.0  100.000000     0.0    0.0      0.0     0.0    1.0
90  59.0   99.000000     0.0    1.0      0.0     0.0    1.0
5   84.0  100.844444     0.0    0.0      0.0     0.0    0.0
84  69.0   98.000000     0.0    0.0      0.0     1.0    1.0
67  65.0   99.000000     1.0    0.0      0.0     0.0    0.0

[80 rows x 7 columns]

In [23]:
X_test

     age       fever  gender  Delhi  Kolkata  Mumbai  cough
17  40.0   98.000000     0.0    1.0      0.0     0.0    1.0
23  80.0   98.000000     0.0    1.0      0.0     0.0    0.0
1   27.0  100.000000     1.0    1.0      0.0     0.0    0.0
44  20.0  102.000000     1.0    1.0      0.0     0.0    1.0
55  81.0  101.000000     0.0    0.0      0.0     1.0    0.0
99  10.0   98.000000     0.0    0.0      1.0     0.0    1.0
86  25.0  104.000000     1.0    0.0      0.0     0.0    0.0
29  34.0  100.844444     0.0    0.0      0.0     1.0    1.0
62  56.0  104.000000     0.0    0.0      0.0     0.0    1.0
33  26.0   98.000000     0.0    0.0      1.0     0.0    0.0
98   5.0   98.000000     0.0    0.0      0.0     1.0    1.0
12  25.0   99.000000     0.0    0.0      1.0     0.0    1.0
11  65.0   98.000000     0.0    0.0      0.0     1.0    0.0
39  50.0  103.000000     0.0    0.0      1.0     0.0    0.0
3   31.0   98.000000     0.0    0.0      1.0     0.0    0.0
41  82.0  100.844444     1.0    0.0      1.0     0.0    0.0
97  20.0  101.000000     0.0    0.0      0.0     0.0    0.0
30  15.0  101.000000     1.0    1.0      0.0     0.0    0.0
72  83.0  101.000000     0.0    0.0      1.0     0.0    0.0
43  22.0   99.000000     0.0    0.0      0.0     0.0    0.0

In [33]:
y_train

   has_covid
57        No
64        No
80       Yes
24        No
70        No
..       ...
8         No
90        No
5        Yes
84        No
67        No

[80 rows x 1 columns]

### <ins style="color:blue">**2. Mentos Zindagi**</ins> : Use Column Transformation

In [38]:
# gender and city are nominal columns : OneHotEncoder
# cough is a ordinal column : OrdinalEncoder
# has_covid is a Label column : LabelEncoder

In [40]:
from sklearn.compose import ColumnTransformer

In [62]:
# remainder = drop : to drop remain columns
# remainder = passthrough : do not disturb these columns
# SimpleImputer() : fill all the missing values with mena of data columns.
tfm = ColumnTransformer(transformers=[
    ('tnf1', SimpleImputer(), ['fever']),
    ('tnf2', OrdinalEncoder(categories=[['Mild', 'Strong']]), ['cough']),
    ('tnf3', OneHotEncoder(drop='first', dtype=np.int32), ['gender', 'city'])
], remainder='passthrough')
dfn = pd.DataFrame(tfm.fit_transform(df),
                   columns=['fever', 'gender', 'Strong', 'Delhi', 'Kolkata', 'Mumbai', 'age', 'has_covid'])

In [63]:
dfn.head(5)

   fever gender Strong Delhi Kolkata Mumbai age has_covid
0  103.0    0.0      1     0       1      0  60        No
1  100.0    0.0      1     1       0      0  27       Yes
2  101.0    0.0      1     1       0      0  42        No
3   98.0    0.0      0     0       1      0  31        No
4  101.0    0.0      0     0       0      1  65        No

In [64]:
from sklearn.model_selection import train_test_split
X = dfn.iloc[:, :-1]
Y = dfn.iloc[:, [-1]]
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.2, random_state=8)
X_train.shape, y_train.shape, X_test.shape, y_test.shape

((80, 7), (80, 1), (20, 7), (20, 1))

In [66]:
X_train.sample(5)

         fever gender Strong Delhi Kolkata Mumbai age
25  100.844444    0.0      1     0       0      1  23
18        98.0    0.0      0     0       0      0  64
90        99.0    1.0      0     1       0      0  59
34       102.0    0.0      1     0       0      1  74
66       104.0    0.0      1     0       1      0  51

In [67]:
y_train.sample(5)

   has_covid
74        No
42       Yes
77        No
18       Yes
71        No

In [68]:
X_test.sample(5)

    fever gender Strong Delhi Kolkata Mumbai age
43   99.0    0.0      0     0       0      0  22
62  104.0    1.0      0     0       0      0  56
44  102.0    1.0      1     1       0      0  20
99   98.0    1.0      0     0       1      0  10
72  101.0    0.0      0     0       1      0  83

In [69]:
y_test.sample(5)

   has_covid
12        No
55       Yes
62       Yes
41       Yes
97        No